__pycache__/
*.py[cod]
.ipynb_checkpoints/

.venv/
venv/
env/

.DS_Store

data/raw/*
data/processed/*
data/ground_truth/*

weights/*
!weights/.gitkeep

results/figures/*
results/logs/*

*.tif
*.tiff
*.cub
*.img
*.jp2

.env
